<!--tells Jinja that this template should replace the blocks from the base template-->
{% extends 'base.html' %}

<!--Nesting block title in block header changes both at the same time-->
{% block header %}{% endblock %}
<h1>{% block title %}Register{% endblock %}</h1>


{% block content %}
  <form method="post">
    <div>
      <label for="username">Username:</label>
      <input type="text" name="username" id="username" required>
    </div>
    <div>
      <label for="password">Password:</label>
      <input type="password" name="password" id="password" required>
    </div>
    <div>
      <label for="first_name">First Name:</label>
      <input type="text" name="first_name" id="first_name" required>
    </div>
    <input type="submit" value="Register">
  </form>
{% endblock %}